::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 1 !important;
}

:-ms-input-placeholder {
    opacity: 1 !important;
}



.form-controls {
    border-radius: 0;
    box-shadow: none;
    border: 0 none;
    border: 1px solid #dfdfdf;
    /*border-bottom: 1px solid #dfdfdf;
    border-left: 0 none;
    border-right: 0 none;*/
    padding: 5px 5px 5px 15px;
    -webkit-appearance: none;
    background-color: transparent;
    color: #fff;
}

.home-headers {
    position: relative;
    padding: 50px 0 0 0;
    /*color: #fff;*/
    width: 1140px;
    margin: 0 auto;
    top: 41%;
    text-align: center;
    /*left: 0;*/
    /*z-index: 1000;*/
    background-color: transparent;
}

.ftype {
    font-family: "sofia-pro","calluna";
}

.ftypes {
    font-family: "sofia-pro";
}

.ftypec {
    font-family: "calluna";
}

.ftypeca {
    font-family: "calluna", Calibri;
    /*font-family: Calibri;*/
}

.fbold {
    font-weight: bold;
}

.fita {
    font-style: italic;
}

.fsize36 {
    font-size: 36px;
}

.fsize34 {
    font-size: 34px;
}

.fsize33 {
    font-size: 33px;
}

.fsize32 {
    font-size: 32px;
}

.fsize30 {
    font-size: 30px;
}

.fsize28 {
    font-size: 28px;
}

.fsize24 {
    font-size: 24px;
}

.fsize22 {
    font-size: 22px;
}

.fsize20 {
    font-size: 20px;
}

.fsize18 {
    font-size: 18px;
}

.fsize16 {
    font-size: 16px;
}
.fsize15 {
    font-size: 15px;
}

.fsize14 {
    font-size: 14px;
}

.fsize12 {
    font-size: 12px;
}

.padt5 {
    padding-top: 5px;
}

.padt15 {
    padding-top: 15px;
}

.padt10 {
    padding-top: 10px;
}

.tboxh90 {
    height: 90px;
}

.tboxh60 {
    height: 60px;
}

.tboxh120 {
    height: 120px;
}

.tboxw390 {
    width: 390px;
}

.tboxw180 {
    width: 180px;
}

.tboxw120 {
    width: 120px;
}

.tboxw550 {
    width: 550px;
}

.opa8 {
    opacity: 0.8;
}

.opa6 {
    opacity: 0.6;
}

.tmont {
    text-align: left;
    padding-left: 120px;
}

.btnc {
    border: none;
}

.bbord {
    border: 2px solid #3f7b7d;
}

.mbord {
    border-right: 1px inset #555555;
    border-left: 1px inset #555555;
    height: 50px;
}

#hero-container2 {
    /* background-color: #ffffff;
    background-color: #000;
    height: 100px;*/
    position: relative;
}

.search-panel1 {
    position: absolute;
    left: 22%;
    width: 56%;
    background-color: #fff;
    /*color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
    padding: 20px 20px 0 20px;*/
}

    .search-panel1 form {
        text-align: center;
    }

    .search-panel1 .form-group {
        margin: 10px 0 10px 0;
        position: relative;
    }

.backg {
    background: #79d214;
}

.headw {
    text-align: center;
    background: #fff;
    opacity: 0.8;
    color: #000;
    font-size: 36px;
    padding-top: 15px;
    height: 90px;
    width: 100%;
    vertical-align: middle;
}

.search-panel2 {
    position: relative;
    /* left: 30%;
    top: 60%;
    width: 40%;
    color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
    padding: 20px 20px 0 20px;*/
}

    .search-panel2 form {
        text-align: center;
    }

    .search-panel2 .form-group {
        margin: 0;
        position: relative;
    }


.fcontrol {
    width: 60%;
}


.rbord {
    border-right: 2px solid #75C31D;
    height: 50px;
    width: 175px;
    text-align: center;
}

.lbord {
    border-left: 2px solid #75C31D;
    height: 50px;
}



/*home page properties*/


.property-item {
    width: 325px;
    height: 320px;
    /*margin-bottom:10px;*/
}

    .property-item .info-1 {
        position: relative;
        z-index: 100;
    }

    .property-item .for-sale, .property-item .for-rent, .property-item .price {
        background: #5CBE6D;
        color: #fff;
        padding: 10px 20px 10px 35px;
        font-weight: bold;
        /*font-size:15px;*/
        float: left;
    }

.for-sale {
    background: #5CBE6D;
    color: #fff;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
    font-size: 15px;
}

.property-item .for-rent, .for-rent {
    background: #61D2D6;
}

.property-item img {
    margin-top: -48px;
    width: 325px;
    height: 310px;
}

.property-item .price {
    background: #74c913;
    color: #fff;
    float: right;
}

.property-item .info {
    padding: 7px 10px 10px 10px;
    background-color: #fff;
    /*background: rgb(255,255,255);*/ /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );*/ /* IE6-9 */
}

.property-item h4 {
    margin: 0;
}

.property-item .features {
    /*border-top:solid 1px #ddd;*/
    /*padding-top:10px;
	margin-top:10px;*/
}

    .property-item .features span {
        padding-left: 0px;
    }

    .property-item .features .bed {
        background: url(../img/icon-bed.png) left center no-repeat;
        float: right;
    }

    .property-item .features .bath {
        /*background:url(../img/icon-bath.png) left center no-repeat;*/
        float: right;
        margin-left: 0px;
    }

    .property-item .features .area {
        /*background:url(../img/icon-home.png) left center no-repeat;*/
    }

.property-for-sale .info {
    /*border:solid 1px #ddd;
	border-bottom:solid 2px #5CBE6D;*/
}

.property-for-rent .info {
    border: solid 1px #ddd;
    border-bottom: solid 2px #61D2D6;
}

/*property-search*/
.property-item1 {
    width: 300px;
    height: 320px;
    /*margin-bottom:10px;*/
}

    .property-item1 .info-1 {
        position: relative;
        z-index: 100;
    }

    .property-item1 .for-sale, .property-item1 .for-rent, .property-item1 .price {
        background: #5CBE6D;
        color: #fff;
        padding: 10px 20px 10px 35px;
        font-weight: bold;
        /*font-size:15px;*/
        float: left;
    }

.for-sale {
    background: #5CBE6D;
    color: #fff;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
    font-size: 15px;
}

.property-item1 .for-rent, .for-rent {
    background: #61D2D6;
}

.property-item1 img {
    margin-top: -48px;
    width: 300px;
    height: 310px;
}

.property-item1 .price {
    background: #74c913;
    color: #fff;
    float: right;
}

.property-item1 .info {
    padding: 7px 10px 10px 10px;
    background-color: #fff;
    /*background: rgb(255,255,255);*/ /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);*/ /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );*/ /* IE6-9 */
}

.property-item1 h4 {
    margin: 0;
}

.property-item1 .features {
    /*border-top:solid 1px #ddd;*/
    /*padding-top:10px;
	margin-top:10px;*/
}

    .property-item1 .features span {
        padding-left: 0px;
    }

    .property-item1 .features .bed {
        background: url(../img/icon-bed.png) left center no-repeat;
        float: right;
    }

    .property-item1 .features .bath {
        /*background:url(../img/icon-bath.png) left center no-repeat;*/
        float: right;
        margin-left: 0px;
    }

    .property-item1 .features .area {
        /*background:url(../img/icon-home.png) left center no-repeat;*/
    }




.banner-img {
    /*background: #000000 url(urlHere) no-repeat bottom left;*/
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height: 100%;
}




.input-group-unstyled input.form-control {
    /*-webkit-border-radius: 4px !important;
                -moz-border-radius: 4px !important;
                border-radius: 4px !important;*/
}

.input-group-unstyled .input-group-addon {
    /*border-radius: 4px;
                border: 0px;
             background-color: transparent;*/
}



.bghelp {
    width: 320px;
    background: #fff;
    padding: 20px;
    color: #3f7b7d;
}

.bghelp1 {
    width: 320px;
    background: #fff;
    padding: 20px;
    color: #3f7b7d;
    margin-left: -5px;
}

.home-wrapper1 {
    vertical-align: middle;
    width: 1140px;
    /*margin: 0 auto;*/
    margin: 0 125px;
    /*padding: 10px 10px;*/
}

.fsel {
    background-color: transparent;
    border: 0 !important; /*Removes border*/
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background: url('http://jonathanphz.tk/dropdown_arrow.png') no-repeat; /*Adds background-image*/
    background-position: 80px 8px; /*Position of the background-image*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    height: 20px; /*fix for mac input height*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    cursor: pointer;
    /*My custom style for fonts*/
}





.dropdown select {
    /*height:40px;*/
    border: 0 !important; /*Removes border*/
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background: url(../images/arrow.png) no-repeat; /*Adds background-image*/
    background-position: 100px 8px; /*Position of the background-image*/
    width: 120px; /*Width of select dropdown to give space for arrow image*/
    height: 20px; /*fix for mac input height*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    cursor: pointer;
    /*My custom style for fonts*/
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

select option {
    text-align: center;
    color: #000000;
}

.backt {
    background-color: transparent;
}

.backw {
    background-color: #fff;
}

.fcolor {
    color: #fff !important;
}

.fcolorBlackHome {
    color:black !important;
}
.fcolorBlack {
    color: black !important;
    background-color: white !important;
}

.fcolor2 {
    color: #313030 !important;
}

.fcolorg {
    color: #79d214;
}

.fcolora {
    color: #3f7b7d;
}

.fcolorash {
    color: #777777;
}
.terms_head{
    text-align: center; 
    background-color: #ffffff;
     width: 160px;
  height: 35px;
   color:#79D214;
   font-weight:bold;
   font-size:16px;
   padding-top:10px;
}
.help_head{
    text-align: center; 
    background-color: #ffffff;
     width: 140px;
  height: 35px;
   color:#79D214;
   font-weight:bold;
   font-size:17px;
   padding-top:10px;
}
.career_head{
    text-align: center; 
    background-color: #ffffff;
     width: 140px;
  height: 35px;
   color:#79D214;
   font-weight:bold;
   font-size:17px;
   padding-top:10px;
}